<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2>Date Range Picker</h2>
      <span
        class="daterange"
        appDateRangePicker
        (selected)="dateSelected($event)"
        [options]="pickerOptions">
        <span class="daterange-label">
          <span class="daterange-title">{{ dateRange.title }}</span>
          <span class="daterange-date m--font-brand">{{ dateRange.range }}</span>
        </span>
        <a href="#" class="btn btn-sm daterange-btn">
          <i class="glyphicon glyphicon-menu-down"></i>
        </a>
      </span>
    </div>
  </div>
</div>
